@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* overflow-x: hidden; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(39 0 111);
    color: white;
    padding: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.logo:hover {
    cursor: pointer;
    color: aliceblue;
    font-size: 25px;
    font-weight: 700;
}

.nav-item {
    display: flex;
    font-size: 22px;
}

.nav-item li {
    list-style: none;
    padding: 0 12px;
}

.nav-item li:hover {
    cursor: pointer;
    color: aliceblue;
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.left {
    width: 500px;
    margin: 85px 50px;
}

.left h1 {
    font-size: 39px;
    padding: 10px;
    text-align: center
}
.left p{
    font-size: 20px;
    color: #6a6363;
    text-align: center;
}

.btn {
    position: relative;
    background: rgb(39 0 111);
    color: #fff;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 22px;
    margin: 40px 167px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(49, 1, 136);
    box-shadow: 1px 3px 3px 0 #9a899a;

}
.right img{
    margin: 20px 0;
    border-radius: 6px;
}
.right img:hover{
    box-shadow: 2px 3px 10px 0px gray
}

.btn:active {
    transform: scale(0.96);
}

.btn::before,
.btn::after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;


}

.btn.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    animation: topBubbles ease-in-out 0.9s forwards;
}

@keyframes topBubbles {
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 50%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.btn.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: bottomBubbles ease-in-out 0.6s forwards;
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section:nth-child(1){
    color: #fff;
}
section:nth-child(2){
    color: #fff;
} */

section .container{
    margin: 100px;
}
section h2{
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}
section .cards{
 display: flex;
}
section .cards .text-card{
    background: #2e195a;
    margin: 20px;
    padding: 20px;
    margin-bottom: 10px;
    color: #fff;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}



@media (max-width:900px) {
    section .cards{
        flex-direction: column;
    }
}
